// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  height: 50px;
  background-color: rgb(222, 236, 252);
  color: $grey1;
  border-radius: $base-border-radius;
  box-shadow: $base-box-shadow;
  border: 0;
  &__text {
    font-size: 1.5em;
  }
  &__title {
    font-family: "Times New Roman", Times, serif;
    font-size: $base-font-size * 1.5;
  }
  &__svg {
    height: 80%;
  }
  &:hover {
    background-color: $grey14;
  }
}
