// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: "Open Sans", "Helvetica Neue Light", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
  "Monaco", monospace !default;

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

/// dgztheme
/// @type Color
$primary: rgb(34, 79, 226);

$grey1: rgb(22, 22, 22) !default;
$grey2: rgb(31, 31, 31) !default;
$grey3: rgb(39, 39, 39) !default;
$grey4: rgb(46, 46, 46) !default;
$grey5: rgb(54, 54, 54) !default;
$grey6: rgb(65, 64, 64) !default;
$grey7: rgb(73, 73, 73) !default;
$grey8: rgb(82, 82, 82) !default;
$grey9: rgb(100, 100, 100) !default;
$grey10: rgb(107, 107, 107) !default;
$grey11: rgb(117, 117, 117) !default;
$grey12: rgb(126, 126, 126) !default;
$grey13: rgb(139, 139, 139) !default;
$grey14: rgb(150, 150, 150) !default;

$colors: (
  "primary": $primary,
);

@debug map-get($colors, "primary");
@debug map-has-key($colors, "secondary");

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-radius: 4px;
$base-border-thickness: 1px;

// box-shadow
$base-box-shadow: 1px 3px 5px rgb(0, 0, 0);

// font sizes
$base-font-size: 1rem;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  "small": 320px,
  "medium": 768px,
  "large": 1024px,
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: "/assets/" !default;
