.css-container {
  // remove this and flex items shrink with page
  min-width: min-content;
  max-width: 80%;
  background-color: rgb(214, 248, 248);
  display: flex;
  justify-content: center;
  margin: 128px auto 0 auto;
  padding: 0 4px 0 4px;
  align-items: flex-start;
  flex-wrap: wrap;
  border: transparent solid 30px;

  .card {
    @extend .card;
    margin: 0 8px;
    // flex-grow: 1;
    &:nth-of-type(2) {
      // flex-grow: 2;
    }
  }
}

a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
