// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home-container {
  // remove this and flex items shrink with page
  min-width: fit-content;
  background-color: rgb(214, 248, 248);
  display: flex;
  justify-content: flex-start;
  margin: 128px 128px 0 128px;
  padding: 0 4px 0 4px;

  .card {
    @extend .card;
    margin: 0 8px;
  }
}

a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
