.react-testing-container {
  @extend .container;

  .react-flex-container {
    min-width: min-content;
    max-width: 80%;
    background-color: rgb(214, 248, 248);
    display: flex;
    justify-content: center;
    margin: 128px auto 0 auto;
    padding: 0 4px 0 4px;
    align-items: flex-start;
    flex-wrap: wrap;
    border: transparent solid 30px;

    .card {
      @extend .card;
      margin: 0 8px 8px 8px;
    }
  }
  .two-col-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    background-color: hsl(240, 100%, 83%);
    border: transparent solid 30px;

    &__header {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      text-align: center;
      margin: 0;
      &--unit {
        grid-area: 1 / 1;
      }
      &--functional {
        grid-area: 1 / 2;
      }
    }
    li {
      font-size: 0.75rem;
    }
  }
}
