/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: #363636;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: #222222;
  text-decoration: underline;
}

pre {
  width: 90ch;
  background-color: beige;
  padding: 8px 12px;
  margin: 8px 0 8px 0;
  font-size: 0.75rem;
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  white-space: pre-wrap;
}

section {
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  width: 100%;
  /* 1 */
}

/**
 * Basic typography style for copy text
 */
body {
  color: #222222;
  font: normal 125%/1.4 "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container, .react-testing-container {
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  width: 100%;
  /* 1 */
  background-color: #8b8b8b;
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  height: 50px;
  background-color: #deecfc;
  color: #161616;
  border-radius: 4px;
  box-shadow: 1px 3px 5px black;
  border: 0;
}
.btn__text {
  font-size: 1.5em;
}
.btn__title {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
}
.btn__svg {
  height: 80%;
}
.btn:hover {
  background-color: #969696;
}

.card, .react-testing-container .react-flex-container .card, .css-container .card, .home-container .card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  height: 50px;
  background-color: #deecfc;
  color: #161616;
  border-radius: 4px;
  box-shadow: 1px 3px 5px black;
  border: 0;
}
.card__text {
  font-size: 1.5em;
}
.card__title {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
}
.card__svg {
  height: 80%;
}

.home-container {
  min-width: fit-content;
  background-color: #d6f8f8;
  display: flex;
  justify-content: flex-start;
  margin: 128px 128px 0 128px;
  padding: 0 4px 0 4px;
}
.home-container .card, .home-container .react-testing-container .react-flex-container .card, .react-testing-container .react-flex-container .home-container .card {
  margin: 0 8px;
}

a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.css-container {
  min-width: min-content;
  max-width: 80%;
  background-color: #d6f8f8;
  display: flex;
  justify-content: center;
  margin: 128px auto 0 auto;
  padding: 0 4px 0 4px;
  align-items: flex-start;
  flex-wrap: wrap;
  border: transparent solid 30px;
}
.css-container .card, .css-container .react-testing-container .react-flex-container .card, .react-testing-container .react-flex-container .css-container .card {
  margin: 0 8px;
}
a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sass {
  display: flex;
  align-items: stretch;
  min-height: 600px;
}

.react-testing-container .react-flex-container {
  min-width: min-content;
  max-width: 80%;
  background-color: #d6f8f8;
  display: flex;
  justify-content: center;
  margin: 128px auto 0 auto;
  padding: 0 4px 0 4px;
  align-items: flex-start;
  flex-wrap: wrap;
  border: transparent solid 30px;
}
.react-testing-container .react-flex-container .card {
  margin: 0 8px 8px 8px;
}
.react-testing-container .two-col-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  background-color: #a8a8ff;
  border: transparent solid 30px;
}
.react-testing-container .two-col-grid__header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  margin: 0;
}
.react-testing-container .two-col-grid__header--unit {
  grid-area: 1/1;
}
.react-testing-container .two-col-grid__header--functional {
  grid-area: 1/2;
}
.react-testing-container .two-col-grid li {
  font-size: 0.75rem;
}

.messaging-container pre, code {
  width: 3000ch;
}

/*# sourceMappingURL=main.css.map */
